:root{
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
}

.text-primary{
  color: forestgreen;
}

#navbar{
  color:#fff;
  background: #444;
  padding: 0 2rem;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

li{
  margin: 1rem;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}
li:hover{
  color: forestgreen;
  margin-bottom: 2rem; 
  border-bottom: 0.3rem cornflowerblue solid;
}
.title{
  font-size: 1.9rem;
}